<ng-container [ngSwitch]="element.component">
	<app-multi-column
		*ngSwitchCase="'FormMultiColumn'"
		[element]="element"
		[request]="request"
		[calcPropsValues]="calcPropsValues"></app-multi-column>
	<app-element-input
		*ngSwitchCase="'FormInput'"
		[element]="element"
		[request]="request"
		[calcPropsValues]="calcPropsValues"></app-element-input>
	<app-element-upload-file
		*ngSwitchCase="'FileUpload'"
		[element]="element"
		[request]="request"
		[calcPropsValues]="calcPropsValues"></app-element-upload-file>
	<app-element-html-viewer
		*ngSwitchCase="'FormHtmlViewer'"
		[element]="element"
		[request]="request"
		[calcPropsValues]="calcPropsValues"></app-element-html-viewer>
	<app-element-image
		*ngSwitchCase="'FormImage'"
		[element]="element"
		[request]="request"
		[calcPropsValues]="calcPropsValues"></app-element-image>
	<app-element-button
		*ngSwitchCase="'FormButton'"
		[element]="element"
		[request]="request"
		[calcPropsValues]="calcPropsValues"></app-element-button>
	<app-element-default
		*ngSwitchDefault
		[element]="element"
		[request]="request"
		[calcPropsValues]="calcPropsValues"></app-element-default>
</ng-container>
