<ng-container [ngSwitch]="checkSupportedComponents(element.component)">
	<app-element-input
		*ngSwitchCase="'FormInput'"
		[element]="element"
		[request]="request"></app-element-input>
	<app-element-button
		*ngSwitchCase="'FormButton'"
		[element]="element"
		[request]="request"></app-element-button>
	<app-multi-column
		*ngSwitchCase="'FormMultiColumn'"
		[cols]="cols"
		[element]="element"
		[request]="request"></app-multi-column>
	<app-element-default *ngSwitchCase="'default'"> </app-element-default>
</ng-container>
