<div class="container">
  <div class="table-container mt-4">
    <div class="mb-2">
      <h2>Your pending tasks</h2>
      <small class="text-secondary">View all form tasks assigned to your group.</small>
    </div>
    <table id="mytable" class="table align-middle mb-0 bg-white">
      <thead class="bg-light">
        <tr class="header-row">
          <th>ID #</th>
          <th>Task Name</th>
          <th>Status</th>
          <th>Assignee</th>
          <th>Process</th>
          <th>Due</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="!userTasks.length">
          <td colspan="6" >
              <p>Loading...</p>
          </td>
        </tr>
        <tr *ngFor="let task of userTasks">
          <td><p class="fw-bold fw-normal mb-1">{{ task.process_request_id }}</p></td>
          <td><p class="fw-bold fw-normal mb-1">{{ task.element_name }}</p></td>
          
          <!--<td style="text-transform:capitalize;">
          <span class="badge badge-danger rounded-pill d-inline">{{ task.advanceStatus }}</span>
          </td>-->
          <div [ngSwitch]="task.advanceStatus">
            <td *ngSwitchCase="'overdue'" style="text-transform:capitalize;">
              <span class="badge badge-danger rounded-pill d-inline">{{ task.advanceStatus }}</span>
            </td>
            <td *ngSwitchCase="'completed'" style="text-transform:capitalize;">
              <span class="badge badge-primary rounded-pill d-inline">{{ task.advanceStatus }}</span>
            </td>
            <td *ngSwitchCase="'open'" style="text-transform:capitalize;">
              <span class="badge badge-success rounded-pill d-inline">{{ task.advanceStatus }}</span>
            </td>
          </div>
          
          <td>{{ task.user.firstname }} {{ task.user.lastname }}</td>
          <td>{{ task.process_request.name }}</td>
          <td><div><span>{{ task.due_at }}</span></div></td>
          <td>
            <button (click)="openForm(task.process_request_id, task.id)" type="button" class="btn btn-link btn-sm btn-rounded text-primary">
                <i class="me-1 bi-window-sidebar text-primary"></i>
                View Task
              </button>
          </td>
        </tr>
      </tbody>
    </table>

    <nav class="mt-4" aria-label="Page navigation">
      <ul class="pagination justify-content-end">
        <li class="page-item disabled">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
      </ul>
    </nav>
  </div> 
</div>     