<div class="main">
	<div class="row g-0">
		<div class="col">
			<div class="leftside">
				<div class="left-main">
					<div class="logo-container d-flex">
						<img
							class="mb-4"
							alt="ProcessMaker"
							src="/assets/img/PMLogo-png.webp"
							alt="" />
					</div>
					<div
						class="header-container mt-5 d-flex justify-content-center flex-column">
						<div class="title mt-3">
							<h2>Quickly preview your form tasks and screens.</h2>
						</div>

						<div class="button-text-container">
							<div class="sub-title mt-4">
								<h5 class="sub text-secondary mt-1">
									Welcome! Please login with your ProcessMaker credentials.
								</h5>

								<div class="button-container mt-4">
									<button
										(click)="login()"
										class="btn btn-primary btn-login w-100">
										Login with ProcessMaker
									</button>
									<hr class="divider mt-4" />
								</div>
							</div>
							<div class="">
								<small class="sub"
									>👋 <a class="link" href="#">Learn more</a> about
									ProcessMaker.</small
								>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="rightside">
				<div class="right-main">
					<div class="text-block">
						<h1>Automate</h1>
						<h1>Complex</h1>
						<h1>Workflows</h1>
					</div>
					<div class="square"></div>
				</div>
			</div>
		</div>
	</div>
</div>
