<div id="taskModal">
	<div class="container">
		<div *ngIf="screen">
			<div class="container-fluid">
				<form #pmForm="ngForm" (ngSubmit)="submitForm(pmForm.value)">
					<div>
						<div>
							<h4 class="card-title">{{ screen.title }}</h4>
							<!-- {{ screen | json }} -->
							<!-- Use app-form-element to render form elements -->
							<div *ngFor="let item of screen.config[0].items">
								<!-- <div>Component Type: {{ data }}</div> -->
								<app-form-element
									[screen]="screen"
									[response]="response"
									[request]="request"
									[data]="item"></app-form-element>
							</div>
							<!-- {{ data | json }} -->
							<!-- Button -->
							<div class="form-group">
								<div class="col-sm-12">
									<input type="submit" class="btn btn-primary" value="Submit" />
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div *ngIf="!request">
			<span></span>
		</div>
	</div>
</div>
